{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HGS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/a96458ea29.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <form method="post">
                    <div><h2>HGS Demo Task</h2>
                        {% csrf_token %}
                        <label>Enter Text:</label>
                        {{ hform.text }}<br>
                        <label>Enter Start Value:</label>
                        {{ hform.start }}<br>
                        <label>Enter End Value:</label>
                        {{ hform.end }}<br>
                    </div>
                     {% if hform.errors %}
                       {% for field in hform %}
                           {% for error in field.errors %}
                              <div class="alert alert-danger">
                                   <strong>{{ error|escape }}</strong>
                              </div>
                           {% endfor %}
                       {% endfor %}
                    {% endif %}
                     {% if not hform.errors %}
                        {% if hform.text  %}
                            <div>
                                <center>
                                    <b class="st1"></b>
                                    <b class="st2"></b>
                                    <b class="st3"></b>
                                </center>
                            </div>
                        {% endif %}
                    {% endif %}
                    <center>
                     <br><input type="submit" value="SUBMIT" class="btn btn-success">
                    </center>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="{% static 'js/hgs.js'%}"></script>
</html>